<div class="img-block">
    <div class="image" routerLink="/apple"><img src="assets/apple.png"></div>
    <div class="image" routerLink="/assus"><img src="assets/asus.png"></div>
    <div class="image" routerLink="/hp"><img src="assets/hp.png"></div>
    <div class="image" routerLink="/accer"><img src="assets/acer.png"></div>
    <div class="image" routerLink="/lenovo"><img src="assets/lenovo.png"></div>
    <div class="image" routerLink="/samsung"><img src="assets/samsung.png"></div>
    <div class="image" routerLink="/dell"><img src="assets/dell.png"></div>
    <div class="image" routerLink="/cannon"><img src="assets/canon.png"></div>
    <div class="image" routerLink="/tp-link"><img src="assets/tp-link.png"></div>
    <div class="image-log" routerLink="/logitach"><img src="assets/logitech.jpg"></div>
</div>
